.container{
  width: 50%;
  margin: auto;
}
#body {
      background-color: rgb(255, 255, 255);
      opacity: 1;
      transition: all 0.02s ease-in;
      -ms-transition: all 0.02s ease-in;
      -moz-transition: all 0.02s ease-in;
      -webkit-transition: all 0.02s ease-in;
    }

    #body.wrong {
      background-color: rgb(190, 19, 24);
      transition: all 0.02s ease-out;
      -ms-transition: all 0.02s ease-out;
      -moz-transition: all 0.02s ease-out;
      -webkit-transition: all 0.02s ease-out;
    }
    #body.correct {
      background-color: rgb(47, 199, 44);
      transition: all 0.02s ease-out;
      -ms-transition: all 0.02s ease-out;
      -moz-transition: all 0.02s ease-out;
      -webkit-transition: all 0.02s ease-out;
    }
/*start of head*/
.header{
  margin:auto;
}
/*start of body*/
#scorekeep{
  font-size: x-large;
  color: rgb(0, 110, 27);
  float: right;
  width: 100%;
  /*background-color:rgb(221, 14, 14);*/
}
#score{
  float:right;
}
#problem{
  font-size: xx-large;
  width:55%;
  float:left;
  text-align: center;
  /*background-color:rgb(46, 30, 161);*/
}
#input{
  width:45%;
  float:left;
  margin-top: 17px;
  /*background-color:rgb(226, 250, 37);*/
}
input{
  width: 80px;
  height: 60px;
  font-size: xx-large;
  box-shadow: 2px 2px 3px grey;
}
