.container{
  width: 50%;
  margin: auto;
}
/*start of head*/
.header{
  margin:auto;
}
/*start of body*/
#scorekeep{
  font-size: x-large;
  color: rgb(0, 110, 27);
  float: right;
  width: 100%;
  /*background-color:rgb(221, 14, 14);*/
}
#score{
  float:right;
}
#problem{
  font-size: xx-large;
  width:55%;
  float:left;
  text-align: center;
  /*background-color:rgb(46, 30, 161);*/
}
#input{
  width:45%;
  float:left;
  margin-top: 17px;
  /*background-color:rgb(226, 250, 37);*/
}
input{
  width: 80px;
  height: 60px;
  font-size: xx-large;
  box-shadow: 2px 2px 3px grey;
}
